html,body{
    min-height:100vh;
    color: rgb(232, 224, 3);
    align-items: center;
    display:flex;
    flex-direction: column;
    background-color: rgb(8, 1, 32);
}
Button{
    margin-top:20vh;
    color: rgb(232, 224, 3);
    background-color: rgb(0, 0, 0);
    font-size:20px;
    font-style:italic;
    padding-left:30px; padding-right:30px;
    padding-top:15px; padding-bottom:15px;
    border: 2px solid rgb(232, 224, 3);
    border-radius: 15px;
    overflow:auto;
}
Form Button{
    margin-top:30px;
}
Form{
    border: 2px solid rgb(232, 224, 3);
    border-radius: 15px;
    text-align:center;
    width:30vw;
    height:90vh;
    margin-left:auto;
    margin-right:auto;
    margin-top:5vh;
    background-color: rgb(8, 1, 32);
    min-width:350px;
}
Form h2{
    font-style:italic;
}
Form label,input,textarea{
    margin:1.5vh;
}
.Popup{
    display:None;
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.Message{
    display: none;
    position:absolute;
    top: 20vh;
    padding: 10px;
    z-index: 2;
}